### OS ###
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### IDEs ###
.idea
.vscode

### Node.js ###
node_modules

### Cache ###
.turbo
*.tsbuildinfo

### Compiled outputs ###
dist

### Logs ###
.pnpm-debug.log*
npm-debug.log*
*.log
