save-exact=true
always-auth=true

public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@types/*

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
